<div class="container">
  <form class="f">

   <div class="form-group">
    <label for="price">house name:</label>
    <input type="price" class="form-control" id="price" 
      placeholder="house name">

  </div>
    <div class="form-group">
      <label for="price">Number of rooms:</label>
      <input type="number" class="form-control" id="price" 
        placeholder="number of rooms">

    </div>
    <div class="form-group">
      <label for="Location">Location:</label><br>
      <input type="text" class="form-control" id="price"  placeholder="house location">

    </div>
    

    <input type="button" class="btn btn-p-3 mb-2 bg-primary" data-bs-toggle="modal" data-bs-target="#myModal"
      onclick="filterresults()" id="post" value="post">
  </form>
</div>
