<body>
 <div class="container">
   <br />
   <h4>Three bedroom apartment in Ngong.</h4>
   <br />
   <div id="slider">
     <figure>
       <img src="images/Ngong1.jpg" alt="" />
       <img src="images/Ngong2.jpg" alt="" />
       <img src="images/Ngong3.jpg" alt="" />
       <img src="images/Ngong4.jpg" alt="" />
       <img src="images/Ngong1.jpg" alt="" />
     </figure>
   </div>
   <br />
   <div class="row">
     <div class="col">
       <h4>About the house</h4>
       <p>
         This 3-bedroom apartment is located in Ngong town. The house
         consists of two well furnished bathrooms that meet all urban
         furnishing standards. The rooms are spacious and elegantly
         designed.The house is located near Nairobi city making a short
         commute but just far enough to escape the busy city. It is also
         close to a shopping centre as well as the best school in the area.
         The balcony faces the Ngong Hills, treating you to a view of
         magnificent sunsets.
       </p>
     </div>
   </div>
   <br />
   <div class="row">
     <div class="col">
       <h4>Rent</h4>
       <p>
         The required rent is Ksh 40,000 per month. The move-in requirement
         is a deposit of Ksh 15,000 and first month and last month rent.
       </p>
     </div>
     <div class="col">
       <button id="bookButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
         data-bs-target="#bookModal">
         Book
       </button>
     </div>
   </div>
 </div>

 <div id="popup">
   <div id="popup-content">
     <form>
       <input type="text" id="email" name="email" placeholder="Enter Your email to book..." /><br />
       <br />
       <button id="submitButton" type="button" class="btn btn-primary btn-lg">
         submit
       </button>
     </form>
   </div>
 </div>


</body>