<body>
 <div class="container">
   <br />
   <h4>Three bedroom apartment in Ngong.</h4>
   <br />
   <div id="slider">
     <figure>
       <img src="/assets/images/apart.jpeg" alt="" />
     </figure>
   </div>
   <br />
   <div class="row">
     <div class="col">
       <h4>About the house</h4>
       <p>
         a short house description
       </p>
     </div>
   </div>
   <br />
   <div class="row">
     <div class="col">
       <h4>Rent</h4>
       <p>
         The required rent is Ksh 40,000 per month. The move-in requirement
         is a deposit of Ksh 15,000 and first month and last month rent.
       </p>
     </div>
     <div class="col">
       <button id="bookButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal"
         data-bs-target="#bookModal">
         Book
       </button>
     </div>
   </div>
 </div>


</body>